.job-card {
  width: 300px;
  background: #fff;
  border-radius: 16px;
  margin: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Soft shadow */
  transition: box-shadow 0.3s ease;
  padding: 20px;
  font-family: Arial, sans-serif;
  position: relative;
}

.job-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  border-radius: 100px; 
  color: #000000;
 

} 
.header-con{
    display: flex ;
    flex-direction: row;  
    align-items: flex-start;

}

.company-logo {
 
  height: 75px;
  object-fit: contain; 
  font-size: 30px;
  
}

.badge {
display: flex; 
flex-direction: column; 
align-items: center; 
justify-content: center;
  background: #e0f0ff;
  color:  #000000; 
  font-family:  "Satoshi Variable";
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 12px;
  height: 33px; 
  width: 75px; 
  background-color: #B0D9FF; 
  font-weight: 500; 
  line-height: 100%; 
  letter-spacing: 0%;
}

.job-title {
  font-size: 20px; 
  line-height: 100%; 
  letter-spacing: 0%;
  font-weight: 700;
  margin: 12px 0; 
  font-family: "Satoshi Variable"; 
  color: #5A5A5A;
}

.job-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #555;
  margin-bottom: 12px; 
   color: #5A5A5A;
}

.job-info span {
  display: flex;
  align-items: center;
  gap: 4px; 
   color: #5A5A5A;
}

.job-description {
  font-size: 14px;
  color: #333;
  margin-bottom: 16px;
  padding-left: 18px; 
   color: #5A5A5A;
}

.apply-btn {
  background: #009bff;
  color: white;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer; 
  padding: 12px 10px 12px 10px;
}

.apply-btn:hover {
  background: #007acc;
}
 .job-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
}