.job-card {
  width: 316px;
  background: #fff;
  border-radius: 12px;
  margin: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Soft shadow */
  transition: box-shadow 0.3s ease;
  padding: 20px;
  font-family: Arial, sans-serif;
  position: relative;  
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  height: 360px;
}

.job-card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;  
  border-radius: 100px; 
  color: #000000;
 

} 
.header-con{
  display: flex; 
flex-direction: column; 
align-items:flex-start; 
justify-content: center;
     
  /* Required for top/left to take effect */
  padding: 10px;

}

.company-logo {
 
  width: 65.89px; 
  height: 65.89px;
  font-size: 30px;  
  
   
  
} 
.campany-logo-con{
  display: flex; 
  flex-direction: column; 
  align-items: center;
  
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Soft shadow */ 
  border-radius: 65.89px;
  padding: 13px;
}

.badge {
display: flex; 
flex-direction: column; 
align-items: center; 
justify-content: center;
  background: #e0f0ff;
  color:  #000000; 
  font-family: 'Satoshi Variable', sans-serif;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 12px;
  height: 33px; 
  width: 75px; 
  background-color: #B0D9FF; 
  font-weight: 500; 
  line-height: 100%; 
  letter-spacing: 0%;
}

.job-title {
   font-family: 'Satoshi Variable', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
 
}

.job-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #555;
  margin-bottom: 12px; 
   color: #5A5A5A; 
   gap: 10px; 
  
}

.job-info span {
  display: flex;
  align-items: center;
  gap: 4px; 
   color: #5A5A5A; 
     
}

.job-description {
  font-size: 16px;
  color: #333;
  margin-bottom: 16px;
  padding-left: 18px; 
   color: #5A5A5A;
  width: 300px;
  height: 76px;
  font-weight: 500; 
  line-height: 100%; 
  letter-spacing: 0%; 

  
   
} 
.des-text{
 font-family: 'Satoshi Variable', sans-serif; 
}

.apply-btn {
  background: #009bff;
  color: white;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer; 
  padding: 12px 10px 12px 10px; 
  font-family: 'Satoshi Variable', sans-serif; 
}

.apply-btn:hover {
  background: #007acc;
}
 .job-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
}
